# Pivot table with dynamic plots for COAD

In [1]:
import pandas as pd
import numpy as np
from pivottablejs import pivot_ui

In [2]:
# get data
database = "../db/dbCOAD-DRD.csv"

In [3]:
df = pd.read_csv(database)
df.head()

  HGNC_symbol ProteinID    DrugName   DrugCID                 Drug    AE
0        GLTP      3s0i   nilotinib    644241     nilotinib-644241 -13.7
1        GLTP      4gjq  venetoclax  49846579  venetoclax-49846579 -13.4
2        GLTP      2evs   sonidegib  24775005   sonidegib-24775005 -13.2
3        GLTP      2evt   nilotinib    644241     nilotinib-644241 -13.2
4        GLTP      3s0k   nilotinib    644241     nilotinib-644241 -13.2

In [4]:
df.columns

Index(['HGNC_symbol', 'ProteinID', 'DrugName', 'DrugCID', 'Drug', 'AE'], dtype='object')

In [5]:
# use other order of columns
df_repurposing = df[['AE', 'HGNC_symbol', 'DrugName', 'ProteinID', 'DrugCID', 'Drug']]
df_repurposing

         AE HGNC_symbol    DrugName ProteinID   DrugCID                 Drug
0     -13.7        GLTP   nilotinib      3s0i    644241     nilotinib-644241
1     -13.4        GLTP  venetoclax      4gjq  49846579  venetoclax-49846579
2     -13.2        GLTP   sonidegib      2evs  24775005   sonidegib-24775005
3     -13.2        GLTP   nilotinib      2evt    644241     nilotinib-644241
4     -13.2        GLTP   nilotinib      3s0k    644241     nilotinib-644241
...     ...         ...         ...       ...       ...                  ...
23267  -2.5        CDH3       mesna      4zmy  23662354       mesna-23662354
23268  -2.4         VIP       mesna      2rrh  23662354       mesna-23662354
23269  -2.4         VIP       mesna      2rri  23662354       mesna-23662354
23270  -2.4       VEGFA       mesna      4zff  23662354       mesna-23662354
23271  -2.3       VEGFA       mesna      4kzn  23662354       mesna-23662354

[23272 rows x 6 columns]

In [ ]:
#df.to_json(r'all.json')

In [6]:
# export to HTML
pivot_ui(df, rows=["HGNC_symbol"], outfile_path="All_pivotTable.html")

Manually edit the resulted HTML by replacing this part:

In [ ]:
<body>
        <script type="text/javascript">
            $(function(){
			
			var derivers = $.pivotUtilities.derivers;
			var renderers = $.extend($.pivotUtilities.renderers,$.pivotUtilities.plotly_renderers);
			
                if(window.location != window.parent.location)
                    $("<a>", {target:"_blank", href:""})
                        .text("[pop out]").prependTo($("body"));
                $("#output").pivotUI(
                    $.csv.toArrays($("#output").text()),
                    $.extend({
                        renderers: $.extend(
                            $.pivotUtilities.renderers,
                            $.pivotUtilities.c3_renderers,
                            $.pivotUtilities.d3_renderers,
                            $.pivotUtilities.export_renderers,
                            ),
                        hiddenAttributes: [""]
                    },
					
					{rows           : ["Target"],
					 filter         : (function(r){ return r["Target"] != null }),
					 renderers: renderers,
					 rendererName   : "Bar Chart",
					 rowOrder: "value_a_to_z"
					})
                ).show();
             });
        </script>
        <div id="output" style="display: none;">